* { margin: 0; padding: 0; }

body { 
	background: #2C4D56 url("/images/body_bg.png") repeat-x;
	font-family: Arial, Verdana, sans-serif;
}

a img{ 	border:none; }

a {
	text-decoration: underline;
	color: #ff6600;
}

a:visited {
	color: #ff6600;
}

a:hover {
	text-decoration: none;
}

#container {
	width: 962px;
	margin: 0 auto;
	background: #fff;
}

#header {
	background: url("/images/header.png") no-repeat;
	background-size:963px 177px;
	width: 962px;
	height: 177px;
	position: relative;
}

#header-link { 
		position: absolute; 
		top: 7px; 
		left: 7px; 
		width: 423px; 
		height: 89px; 
		background-color: transparent; 
		border: 0px;
}	

#logo {
	width: 450px;
	height: 110px;
	float: left;
}

#logo span { display: none; }


#login {
	float: right;
	width: 410px;
	padding-top: 10px;
	color: #fff;
	font-weight: bold;
}

#login a {
	color: #FFB300;
}

#login fieldset { border: 0; }

.fake_shadow { 
	border-top: 1px solid #79C5E0;
	border-left: 1px solid #79C5E0;
	border-right: 1px solid #142D35;
	border-bottom: 1px solid #142D35;
}

#username, #password {
	padding: 3px;
	color: #999999;
}

#login_button {
	background: url("/images/login.png") no-repeat;
	width: 79px;
	height: 24px;
	color: #fff;
	cursor: pointer;
}

#signup_button {
	background: url("/images/register.png") no-repeat;
	width: 79px;
	height: 24px;
	color: #000;
	cursor: pointer;
}

#login label {
	font-size: 11px; 
	color: #fff;
	padding-left: 135px;
}
	
#nav {
	clear: both;
	width: 559px;
	padding-top: 22px;
	list-style-type: none;
}
	
#nav li { 
	float: left;
	padding-right: 1em;
	padding-left: .95em;
}

#nav a { 
	display: block;
	height: 32px;
	color: #fff; 
	font-size: 15px;
	text-decoration: none;
}

#nav a:hover, #nav .active a {
	color: #FFB300;
	background: url("/images/nav_arrow.gif") no-repeat bottom center;
}

#slogan {
	position: absolute;
	top: 79px;
	right: 156px;
}

/*
	------------------------------------------
	CONTENT
	------------------------------------------
*/


#content {
	min-height: 500px;
	padding: 25px 10px 10px 20px;
	color: #333333;
	font-family: Georgia, "Times New Roman", Times, serif;
	line-height: 16pt;
}

#content h2 {
	font-size: 24px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	line-height: 32px;
}

#content h1 {
	font-size: 36px;
	font-weight: normal;
	margin: 0px 0px 10px 0px;
	padding: 0px;
	line-height: 32px;
}

#content h4 {
	color: #000000;
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0px;
	padding: 10px 0px;
}

#content p {
	margin: 4px 0px;
	padding: 4px 0px;
}

#homeLeft {
	float: left;
	width: 520px;
	padding: 0px 10px 0px 0px;
}

#homeLeft img.left {
	float: left;
	padding: 14px 15px 0px 5px;
}

#search {
	padding: 4px 8px 4px 8px;
	text-align: center;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	font-weight: normal;
	width: 200px;
	border: 2px solid #FFB300;
	color: #999999;
	background: url("/images/button-bg.jpg") bottom left repeat-x;
}

#checkusernames-home {
	padding: 0px 0px 0px 10px;
}

#checkusernames-home h1 {
	font-size: 20pt;
	margin: 0px 0px 2px 0px;
}

#checkusernames-home h2 {
	font-size: 14pt;
}

#checkusernames {
	padding: 137px 0px 0px 10px;
}

#checkusernames h1 {
	font-size: 20pt;
	margin: 0px 0px 2px 0px;
}

#checkusernames h2 {
	font-size: 14pt;
}

#checknav {
	float: left;
	padding: 20px 0px 0px 33px;
	font-size: 16pt;
}

#checknav a, a:visited {
	color: #ffffff;
	text-decoration: none;
	padding-right: 22px;
}

#checknav a.current {
	color: #000000;
}

#checknav a:hover {
	color: #000000;
}

#searchouter {
	float: left;
	padding: 10px 0px 10px 6px;
}

#submitouter {
	float: left;
	padding: 5px 0px 2px 0px;
}

#searchouter-home {
	float: left;
	padding: 10px;
}

#submitouter-home {
	float: left;
	padding: 10px;
}

#search-home {
	padding: 7px 10px 7px 10px;
	text-align: center;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	font-weight: normal;
	width: 260px;
	border: 2px solid #FFB300;
	color: #999999;
	background: url("/images/button-bg.jpg") bottom left repeat-x;
}

#submit-home {
	cursor: pointer;
	background: url("/images/button-checkit.jpg") no-repeat;
	width: 120px;
	height: 45px;
	border: 0px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	font-weight: normal;
	padding: 0px 0px 8px 0px;
	margin: 0px;
}

#submit {
	cursor: pointer;
	background: url("/images/search.png") no-repeat;
	width: 96px;
	height: 44px;
	border: 0px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	font-weight: normal;
	padding: 0px 0px 0px 0px;
	margin: 0px;
}

#homeRight {
	float: left;
	width: 372px;
	padding: 0px 20px 0px 10px;
	line-height: 22px;
}

#homeRight fieldset {
	border: 1px solid #cccccc;
	text-align: center;
	padding: 20px 0px 10px 0px;
	margin: 20px 0px 10px 0px;
	-moz-border-radius: 8px; border-radius: 2px;
}

#homeRight legend {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 36px;
	font-weight: normal;
	padding: 10px 0px 10px 0px;
	color: #333333;
}

#homeRight a.press {
	float: clear;
}

#homeRight a.morelink {
	float: right;
	padding: 6px 0px 0px 0px;
	font-size: 18px;
	text-decoration: none;
	color: #ff6600;
}

#homeRight a.morelink:hover {
	text-decoration: underline;
}

#homeRight h2 {
	padding-top: 30px;
}

#homesites {
	clear: left;
	background: url("/images/stacked_paper.png") no-repeat;
	background-position: 0px 30px;
	width: 526px;
	height: 410px;
	padding: 57px 0px 0px 39px;
}


#homeBottom {
	clear: left;
	padding: 0px 10px 0px 0px;
}

#homeBottom h1 {
	padding: 0px 10px;
}

#homeBottom h2 {
	padding: 10px 10px 0px 10px;
}

#homeBottom h3 {
	font-weight: normal;
	font-size: 22px;
	margin: 0px 0px 10px 0px;
}

#homeBottom a {
	float: right;
	padding: 6px 0px 0px 0px;
	font-size: 18px;
	text-decoration: none;
	color: #ff6600;
}

#homeBottom a:hover {
	text-decoration: underline;
}

.shareButtons {
	padding: 4px 0px 4px 10px;
}

.sellLeft {
	clear: left;
	float: left;
	width: 490px;
	padding: 10px 10px;
	background: #efefef;
	margin: 10px 10px;
	font-size: 12px;
	min-height: 75px;
}

.sellRight {
	float: left;
	width: 352px;
	padding: 10px 10px;
	background: #ffeeda;
	margin: 10px 10px;
	font-size: 12px;
	min-height: 75px;
}

#blogLinks {
	clear: left;
	text-align: left;
	float: left;
	padding: 2px 10px 10px 10px;
	margin: 2px 10px;
	font-size: 12px;
	min-height: 160px;
}

#blogLinks a {
	padding: 10px 0px 2px 0px;
	font-size: 18px;
	text-decoration: none;
	color: #ff6600;
}

#blogLinks a:hover {
	text-decoration: underline;
}

#socialLinks {
	float: right;
	margin: 2px 2px;
}


.slide-out-div {
	padding: 20px;
	width: 570px;
	background: #eeeeee;
	border: #999999 1px solid;
	font-family: Georgia, "Times New Roman", Times, serif;
}      

.person {
	float: left;
	padding: 10px 20px 10px 10px;
	width: 430px;
	min-height: 160px;
}

.person img {
	float: left;
	padding: 8px 8px 2px 0px;
}

.person p {
	color: #666666;
	font-size: 10pt;
	padding: 6px 0px;
}

#checkpage {
	min-height: 200px;
	color: #333333;
	font-family: Georgia, "Times New Roman", Times, serif;
	line-height: 16pt;
}

#checkpage h2 {
	font-size: 24px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	line-height: 32px;
}

#checkpage h1 {
	font-size: 36px;
	font-weight: normal;
	margin: 0px 0px 10px 0px;
	padding: 0px;
	line-height: 32px;
}

#checkpage h4 {
	color: #000000;
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0px;
	padding: 10px 0px;
}

#checkpage p {
	margin: 4px 0px;
	padding: 4px 0px;
}

.trademark {
	padding: 5px;
	font-size: 14px;
}

.trademark td {
	border:1px solid #eeeeee;
	padding: 2px;
	vertical-align: top;
}

.trademark th {
	background: #eeeeee;
	padding: 2px;
	font-size: 12px;
}
	

/*
	------------------------------------------
	INPUTS
	------------------------------------------
*/


.inputter3 { padding: 10px 0px 10px 0px; width: 570px; overflow: hidden; }
.inputter3 label { color: #666666; padding: 0px 0px 0px 2px; white-space: nowrap; }
.inputter3 .sidecontainer { clear: both; }
.inputter3 .sideways { float: left; width: 240px; margin: 2px 15px 10px 0px; padding: 0px 15px 0px 0px; }
.inputter3 p { clear:both; margin: 0 0 10px 0; display: block; }
.inputter3 .input { border: 1px solid #A5C2C8; line-height: 1.2em; padding: 5px 26px 5px 5px; margin: 0 0 2px 0; width: 527px; font: 1.2em Helvetiva, Arial, sans-serif; }
.inputter3 .input-thin { border: 1px solid #A5C2C8; line-height: 1.2em; padding: 5px 26px 5px 5px; margin: 0 0 2px 0; font: 1.2em Helvetiva, Arial, sans-serif; width: 220px; }
.inputter3 .submitter { border: 1px solid #A5C2C8; color: #666666; background: #D7EBEF; line-height: 1.2em; padding: 5px 20px 5px 20px; font: bold 1.0em Helvetiva, Arial, sans-serif; }
.inputter3 .charcounter { float: right; padding: 0px 2px 0px 0px; color: #999999; }
.inputter3 .required {
	background: url("/images/icon-exclamation.gif") no-repeat scroll 7px 7px;
	padding-left:30px;
	width: 190px;
}


.inputterV2 { padding: 10px 0px 10px 0px; width: 570px; overflow: hidden;  }

.inputterV2 label { color: #666666; padding: 0px 0px 0px 2px; white-space: nowrap; }
.inputterV2 p { clear:both; margin: 0 0 10px 0; display: block; }
.inputterV2 .input { border: 1px solid #A5C2C8; line-height: 1.2em; padding: 5px 26px 5px 5px; margin: 0 0 2px 0; width: 400px; font: 1.2em Helvetiva, Arial, sans-serif; }
.inputterV2 .input-thin { border: 1px solid #A5C2C8; line-height: 1.2em; padding: 5px 26px 5px 5px; margin: 0 0 2px 0; font: 1.2em Helvetiva, Arial, sans-serif; width: 220px; }
.inputterV2 .submitter { border: 1px solid #A5C2C8; color: #666666; background: #D7EBEF; line-height: 1.2em; padding: 5px 26px 5px 5px; font: bold 1.0em Helvetiva, Arial, sans-serif; }
.inputterV2 .charcounter { float: right; padding: 0px 2px 0px 0px; color: #999999; }

.inputterV2 td { border-style: none; padding: 0px 10px 0px 10px; }

.signupDesc { width: 550px; font-size: 75%; color: #666666; padding: 0px 0px 20px 10px; }


.paymentType {
	float: left;
	width: 200px;
	border: 1px solid #cccccc;
	padding: 6px;
	margin: 2px 2px 10px 2px;
	height: 200px;
	text-align: center;
	font: 10pt Arial, Calibri,Tahoma, sans-serif;
	line-height: 12pt;
}

.paymentType2 {
	float: left;
	width: 200px;
	border: 1px solid #eeeeee;
	padding: 6px;
	margin: 2px 2px 10px 2px;
	height: 200px;
	text-align: center;
	font: 10pt Arial, Calibri,Tahoma, sans-serif;
	line-height: 12pt;
}

.paymentTypeHead {
	clear: left;
	float: left;
}

.paymentType h4 {
	margin: 0px;
	padding: 0px; 0px;
}

/* AUTO COMPLETE */

.ac_results {
	padding: 0px;
	border: 1px solid #999999;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 4px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font-size: 12pt;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 18px;
	overflow: hidden;
}

.ac_loading {
	background: white url("/images/indicator.gif") right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}


.error-hint {
	float: right;
	width: 300px;
	border: 1px solid #36393D;
	padding: 10px 12px;
	margin: 20px 0px 0px 0px;
	background: #F9F7ED;
}

.errorForm {
	margin: 8px 0 0 0;
	padding: 0px;
}

.errorForm li {
	list-style-type: none;
	padding: 4px 0px 4px 0px;
}



/*
	------------------------------------------
	COMMUNITY
	------------------------------------------
*/

.commColumn {
	float: left;
	width: 300px;
	padding: 10px 10px 10px 0px;
}

.commUserRow {
	clear: left;
	float: left;
	width: 290px;
	min-height: 100px;
	padding: 2px 0px 10px 0px;
	font: 8pt sans-serif, Arial, Calibri,Tahoma;
}

.commUserRow a:visited {
	color: #ff6600;
}

.commUserRow b {
	font-size: 10pt;
	font-weight: bold;
}

.commUserRow img {
	float: left;
	padding: 0px 4px 0px 0px;
}

a.keyTags {
	color: #999999;
}

.commUserRow a.keyTags:visited {
	color: #999999;
}

a.keyTags:hover {
	color: #666666;
}

#pager {
	color: #999999;
	clear: left;
	padding: 10px 0px;
	margin: 0px auto;
	text-align: center;
}

#pager a {
	border: 1px solid #dddddd;
	padding: 3px 6px;
	text-decoration: none;
}

#pager a:hover {
	color: #0000cc;
	text-decoration: none;
	background-color: #eeeeee;
}

#pager .pageselected {
	color: #0000cc;
	text-decoration: none;
	background-color: #eeeeee;
}

/*
	------------------------------------------
	NETWORKS
	------------------------------------------
*/

#networkLeft {
	float: left;
	width: 680px;
	padding: 5px 5px;
}

.siteImage {
	float: left;
	padding: 0px 0px 0px 10px;
}

#networkLeft p {
	margin: 2px 0px 12px 0px;
	padding: 0px;
}

#networkLeft h3 {
	font-size: 20px;
	font-weight: normal;
	margin: 4px 0px 0px 0px;
	padding: 4px 0px 0px 0px;
	color: #666666;
}

#networkRight {
	float: left;
	width: 190px;
	padding: 10px 10px 10px 20px;
	margin: 4px 0px 0px 10px;
	border: 1px solid #dddddd;
}

#networkRight .actions {
	font: 8pt sans-serif, Arial, Calibri,Tahoma;
}

#networkRight h3 {
	font-weight: normal;
	margin: 0px;
	padding: 0px 0px 10px 0px;
}


#profileStats {
	clear: left;
	padding: 10px 0px;
}

#profileStats h3 {
	font-size: 24px;
	font-weight: normal;
	padding: 10px 0px 10px 0px;
	line-height: 32px;
}

#scoresLeft {
	float: left;
	width: 700px;	
	padding: 10px 10px 5px 0px;
}

#scoresRight {
	float: left;
	width: 200px;	
	padding: 5px 0px 5px 0px;
	font: 8pt Arial, Calibri,Tahoma;
}

#scoresRight strong {
	font-size: 10pt;
}

.scoreRow {
	background: #eeeeee;
	padding: 6px 5px;
	height: 50px;
}

.scoreRowAlt {
	background: #ffffff;
	padding: 6px 5px;
	height: 50px;
}

.scoreTitle {
	float: left;
	font-size: 20px;
	font-weight: normal;
	margin: 0px;
	padding: 2px 0px;
	width: 200px;
	text-align: right;
	line-height: 20px;
}

.scoreTitleInfo {
	text-decoration: underline;
	color: #ff6600;
	font-size: 14px;
	cursor: pointer;
}

.scoreGraph {
	float: left;
	width: 480px;
	padding: 6px 0px 0px 10px;
}

.graphOuterLarge {
	height:25px;
	background:url("/images/bg-bar-graph-grey-large.jpg") repeat-x top;
}

.graphInnerLarge {
	height:25px;
	background:url("/images/bg-bar-graph-large.jpg") repeat-x top;
}

.rule {
	float: left;
	width: 20%;
	text-align: center;
}
.ruleLeft {
	float: left;
	width: 20%;
	text-align: left;
}
.ruleRight {
	float: left;
	width: 20%;
	text-align: right;
}


#profileSimilar {
	clear: left;
	padding: 10px 0px;
}

#profileSimilar h3 {
	font-size: 24px;
	font-weight: normal;
	margin: 0px;
	padding: 20px 0px 10px 0px;
	line-height: 32px;
}

#profileSimilarList {
	padding: 10px 0px 10px 0px;
	margin-bottom: 20px;
}

.profilesImages {
	float: left;
	padding: 6px 7px;
}

/*
	------------------------------------------
	PROFILES
	------------------------------------------
*/

#profileTop {
	float: left;
	margin: 2px 0px 2px 0px;
}

#profileLeft {
	float: left;
	width: 160px;
	padding: 5px 5px;
}


#profileMiddle {
	float: left;
	width: 520px;
	padding: 5px 5px;
}

#profileMiddle p {
	margin: 2px 0px 12px 0px;
	padding: 0px;
}

.titleTag {
	color: #999999;
	font-weight:bold;
	font: 8pt Arial, Calibri,Tahoma;
}

#avatar {
	border: 6px solid #ffa401;
}

#profileMiddle h1 {
	color:#000000;
	font-size:24pt;
}

#profileMiddle a.keyTags, a.keyTags:visited {
	color: #ff6600;
}



#profileRight {
	float: left;
	width: 210px;
	padding: 5px 5px;
	margin: 30px 0px 0px 0px;
	border: 1px solid #dddddd;
}

#profileRight h2 {
	color:#000000;
	font-size:12pt;
	margin: 0px 0px 10px 0px;
	padding: 0px;
}

.actions {
	font-size:8pt;
	padding: 2px 0px 2px 0px;
}

.actions img {
	vertical-align: middle;
}

#profileCommunities {
	clear: left;
	margin-top: 10px;
	padding: 10px 10px 5px 0px;
}

.header {
	color:#666666;
	font-size:18pt;
	font-weight: normal;
	margin: 25px 0px 15px 0px;
	min-height: 30px;
}

.profiles {
	clear: left;
	padding: 2px;
	border: 1px solid #eeeeee;
	margin: 5px 0px 5px 0px;
	overflow: auto;
}

.claimedProfile {
	float: left;
	padding: 6px 7px;
}

.unclaimedProfile {
	float: left;
	padding: 6px 7px;
}

.biz {
	padding: 5px;
}

img.unclaimed {                       
	opacity: 0.4;
	filter: alpha(opacity=40);
	zoom: 1;
}

#claimInfo {
	background: #ffeeda;
	padding: 20px 18px 20px 18px;
	font-size: 14pt;
	color: #000000;
}

#claimInfo img {
	float: left;
	padding: 0px 10px 0px 0px;
}


#localInfo {
	background: #ffeeda;
	padding: 20px 18px 20px 18px;
	font-size: 12pt;
	color: #000000;
}

#localInfo img {
	float: left;
	padding: 6px 10px 0px 0px;
}

.profileTip {
	line-height: 30px;
	padding; 10px 14px;
	font-size: 10pt;
	
}

.profileTip b {
	font-size: 12pt;
}

.profileTip img {
	vertical-align: middle;
}

.profileTip a {
	padding-left: 6px;
}


.profileTipDesc {
	padding; 10px 14px;
	font-size: 10pt;
}

.profileTipDesc b {
	font-size: 12pt;
}


#profileBiz {
	clear: left;
	margin-top: 10px;
	padding-top: 10px;
}

#profileBiz h3 {
	color:#666666;
	font-size:22pt;
	font-weight: normal;
	margin: 5px 0px 10px 0px;
}

#profileBizLeft {
	float: left;
	width: 450px;
	padding: 5px 5px;
}

#profileBizRight {
	float: left;
	width: 450px;
	min-height: 300px;
	padding: 5px 5px;
	font-size: 10pt;
}

.feedCapsule {
	margin: 2px 0px 5px 0px;
	padding: 10px 20px 10px 20px;
	border: 1px solid #cccccc;
	min-height: 40px;
}

.feedCapsule img {
	float: left;
	padding: 10px 20px 10px 0px;
}

.light {
	background-color: #ffeeda;
}
.dark {
	background-color: #efefef;
}


.graph {
	width: 204px;
}

.bizGraph {
	width: 450px;
	clear: left;
}

.completedGraph {
	clear: left;
	height:16px;
	border:1px solid #dddddd;
	padding: 2px;
}

.graphOuter {
	height:16px;
	background:url("/images/bg-bar-graph-grey.jpg") repeat-x top;
}

.graphInner {
	height:16px;
	background:url("/images/bg-bar-graph.jpg") repeat-x top;
}

.left {float: left; }
.right {float: right; }





/*
	------------------------------------------
	USERNAMES
	------------------------------------------
*/

#checknamesheader {
	width: 962px;
	height: 188px;
	background:url("/images/check-header4.png") no-repeat;
	background-size:962px 188px;
}

#checknamesheader-social {
	width: 962px;
	height: 188px;
	background:url("/images/check-header4-social.png") no-repeat;
	background-size:962px 188px;
}

#checknamesheader-domains {
	width: 962px;
	height: 188px;
	background:url("/images/check-header4-domains.png") no-repeat;
	background-size: 962px 188px;
}

#checknamesheader-trademarks {
	width: 962px;
	height: 188px;
	background:url("/images/check-header4-trademarks.png") no-repeat;
	background-size:962px 188px;
}

#socialcheck {
	clear: left;
	float: left;
	padding: 20px 10px 10px 20px;
	width: 640px;
}

#socialcheck h1 {
	font-size: 24px;
	padding-bottom: 2px;
}

#checkmargin {
	clear: left;
	float: left;
	padding: 20px 10px 10px 20px;
}

#checkmargin h2 {
	clear: left;
	font-size: 20px;
	padding: 10px 0px 10px 0px;
}

a.moresocial, a.moresocial:visited {
	text-decoration; none;
	background: #ff7519 url("/images/arrow_on_orange.png") no-repeat 7px 9px;
	color: #ffffff;
	padding: 6px 6px 6px 18px;
	font-size: 12px;
}

a.moresocial:hover {
	color: #000000;
}

#socialpremium {
	float: left;
	width: 190px;
	height: 250px;
	padding: 20px 0px 0px 40px;
	margin: 50px 0px 0px 40px;
	text-align: center;
	background: url("/images/grey_border.png") no-repeat;
}

#socialpremium a, a:visited {
	padding: 0px;
	margin: 0px;
	text-decoration: underline;
	color: #ff6600;
}

#socialpremium a:hover {
	text-decoration: none;
	color: #2c4d56;
}

#domaincheck {
	clear: left;
	padding: 20px 10px 20px 20px;
	margin: 0px 0px 20px 0px;
}

#domaincheck h1 {
	font-size: 24px;
	padding-bottom: 2px;
}

#trademarkcheck {
	clear: left;
	padding: 20px 10px 20px 20px;
	margin: 0px 0px 20px 0px;
}

#trademarkcheck h1 {
	font-size: 24px;
	padding-bottom: 2px;
}

#listPopularProfiles {
	clear: left;
	padding: 0px 10px 0px 0px;
	width: 680px;
}

#listSiteProfiles {
	clear: left;
	padding: 0px 10px 0px 0px;
}


#listDomains {
	clear: left;
	padding: 0px 10px 0px 0px;
}

a.moredomains, a.moredomains:visited {
	text-decoration; none;
	background: #2c4d56 url("/images/green_arrow.png") no-repeat 7px 9px;
	color: #ffffff;
	padding: 6px 6px 6px 18px;
	font-size: 12px;
}

a.moredomains:hover {
	color: #ff7519;
}


.socialSite {
	float: left;
	padding: 3px 6px 3px 6px;
	margin: 1px;
	width: 210px;
	height: 23px;
	font: 10pt Arial, Verdana,Tahoma,sans-serif;
	font-weight: bold;
}
.socialSite a, a:visited {
	color: #ff6600;
}
.popup a:hover {
	text-decoration: none;
}


.socialSite img {
	vertical-align: middle;
}

.socialSiteTop {
	padding: 10px 6px 10px 6px;
}



.domain {
	float: left;
	padding: 3px 6px 3px 6px;
	margin: 1px;
	width: 432px;
	height: 23px;
	font: 10pt Arial, Verdana,Tahoma,sans-serif;
	font-weight: bold;
	border: solid 1px #eeeeee;
}

.knowemSite {
	float: left;
	padding: 3px 6px 3px 6px;
	margin: 1px;
	width: 440px;
	height: 23px;
	font: 8pt Arial, Verdana,Tahoma,sans-serif;
}
.knowemSite input {
	font: 8pt Arial, Verdana,Tahoma,sans-serif;
	padding: 0px 1px 0px 1px;
}
.knowemSite img {
	vertical-align: middle;
}

fieldset.siteList {
	border: 1px solid #666666;
	font-size: 16pt;
	padding: 8px 6px 8px 6px;
	background:url(/images/bg-gradient.gif) top left repeat-x;
	-moz-border-radius: 8px; border-radius: 2px;
	 margin-top: 35px;
}

.siteList legend {
	color: #333333;
	background: #f1f1f1;
	border: 1px solid #999999;
	padding: 8px 20px;
	margin: 0px 0px 6px 0px;
	width: 350px;
	-moz-border-radius: 8px; border-radius: 2px;
}

.inner {
	width: 120px;
	text-align: right;
	padding: 6px 0px 0px 6px;
}
.error {
	color: #FF0084;
}
.notavailable {
	color: #999999;
	text-decoration: line-through;
}
.forsale {
	color: #cc0000;
}
.claim {
	border: 1px solid #cccccc;	
	background: #f1f1f1;
	color: #356aa0;
	padding: 2px;
	font: 8pt Arial, Verdana,Tahoma,sans-serif;
}

.category {
	border: 1px solid #fe6309;
	color: #000000;
	padding: 2px 4px;
	font: 10pt Arial, Verdana,Tahoma,sans-serif;
	background: url("/images/bg-button-grade.jpg") repeat-x;
	
}



/*
	------------------------------------------
	FOOTER
	------------------------------------------
*/

	
#footer {
	clear: both;
	background: url("/images/footer.png") no-repeat;
	width: 962px;
	height: 186px;
	font-size: 13px;
}	
	
#footer a { 
	color: #fff;
}

#footer a:hover { 
	color: #FFB300;
	text-decoration: none;
}

#footer ul {
	padding: 24px 0px 4px 50px;
	float: left;
	list-style-type: none;
}

#footer ul li {
	color: #FFB300;
	padding: 2px 0px 0px 0px;
}

